@import "../node_modules/foundation-sites/dist/css/foundation.min.css";
@import "../node_modules/pretty-checkbox/dist/pretty-checkbox.min.css";

.pretty .state label:before, .pretty .state label:after{
  top:4px;
}

.media-info{
  //border-top: 1px dotted black;
  //border-bottom: 1px dotted black;
  padding: 1rem 0;
  margin: .5rem 0;

}

body {
  font-size: 20px;
}

.card{
  position: relative;
}

.bt-card-delete{
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.txtCenter{
  text-align: center;
}

.mycard{
  width:100%;

  &:hover .bt-card-delete{
    visibility: visible;
  }

}



